node_modules
.next
out
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
Diapositivas_Planeacion_Textos_Academicos.md
01. Guía para la elaboración de textos argumentativos - LEO.pdf
~$-Formato-plan-de-texto-argumentativo.docx
4.-Formato-plan-de-texto-argumentativo.docx
leo_extracted.txt
